<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>Sonaal Kant</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="Sonaal Kant" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Sonaal Kant
              </h1>
              <p>I am currently pursuing a Master's degree in Computer Science at the <a href="https://www.umd.edu">University of Maryland, College Park</a>, where I am advised by <a href="http://abhinavsh.info">Abhinav Shrivastava</a>. My core research interests lie in the field of generative AI, and I am passionate about working on projects that can reach a large audience.
              </p>
              <p>
                From 2017 to 2021, I worked as a Senior Data Scientist at <a href="https://paralleldots.com/">
                  ParallelDots</a>, where I gained hands-on experience in Computer Vision and Natural Language Processing. I also had the opportunity to work on scaling and deployment of large models.
                In addition, I worked as a Research Associate under <a href="https://www.iiitd.ac.in/anubha"> Dr. Anubha Gupta </a> at <a href="https://www.iiitd.ac.in"> IIIT, Delhi </a> from 2018 to 2019. During this time, I explored the applications of computer vision in medical imaging diagnostics.
              </p>
              <p>
                I completed my undergraduate degree in Information Technology at  <a href="https://mait.ac.in"> Maharaja Agrasen Institute of Technology </a> in New Delhi, where I had the privilege of being advised by Dr. M.L Sharma for my Bachelor Thesis Project. During my undergraduate studies, I gained valuable experience working as a freelance consultant, helping and guiding other students with their projects.
              </p>
              <p style="text-align:center">
                <a href="mailto:sonaal@cs.umd.edu">Email</a> &nbsp/&nbsp
                <a href="https://github.com/sonaalKant">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=eGviwJoAAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/sonaal-kant-03b707103/"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:200%;max-width:100%" alt="profile photo" src="../images/My project-1-2.png">
            </td>
          </tr>
        </table>

        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
          <tr>
            <td width="100%" valign="middle">
              <h2>Recent News</h2>
              <ul>
                <li> <strong> [April 23] </strong> Organising <a href="https://vplow.github.io/vplow.html">Visual Perception and Learning in an Open World</a> Workshop at CVPR 2023 </li>
                <li> <strong> [May-Aug 22] </strong> Applied Scientist Intern at Amazon : Researched on estimating body measurements from monocular RGB image.</li>
                <li> <strong> [Aug 21] </strong> Joined the MS CS program at UMD</li>
                
              </ul>
          
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                I'm interested in computer vision, machine learning, optimization, graphics and robotics.
              </p>
            </td>
          </tr>
        </table>

        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">

          <tr onmouseout="deepburst_stop()" onmouseover="deepburst_start()" >
            <td width="25%">
              <div class="one">
              <div class="two" id = 'deepburst_image'><img src='../images/GLN.png' , height="125", width ="175" ></div>
              <!-- <img src='michelle_teaser.png'', height="125", width ="175"> -->
              </div>
              <script type="text/javascript">
              function deepburst_start() {
              document.getElementById('deepburst_image').style.opacity = "1";
              }
              function deepburst_stop() {
              document.getElementById('deepburst_image').style.opacity = "0";
              }
              deepburst_stop()
              </script>
            </td>
            <td valign="top" width="75%">
              <a href="https://arxiv.org/pdf/2004.11855">
              <papertitle> Learning gaussian maps for dense object detection
              </papertitle>
              </a>
              <br>
              <strong>Sonaal Kant</strong><br>
      
              <em>British Machine Vision Conference, 2020</em><br>
              <p></p>
              <p>Learning to predict small similar looking objects placed in close proximity by predicting gaussian map in a multi-task framework</p>
            </td>
          </tr>

          <tr onmouseout="deepburst_stop()" onmouseover="deepburst_start()" >
            <td width="25%">
              <div class="one">
              <div class="two" id = 'deepburst_image'><img src='../images/leukonet.png' , height="125", width ="175" ></div>
              <!-- <img src='leukonet.png'', height="125", width ="175"> -->
              </div>
              <script type="text/javascript">
              function deepburst_start() {
              document.getElementById('deepburst_image').style.opacity = "1";
              }
              function deepburst_stop() {
              document.getElementById('deepburst_image').style.opacity = "0";
              }
              deepburst_stop()
              </script>
            </td>
            <td valign="top" width="75%">
              <a href="https://arxiv.org/abs/1810.07961">
              <papertitle> LeukoNet: DCT-based CNN architecture for the classification of normal versus Leukemic blasts in B-ALL Cancer
              </papertitle>
              </a>
              <br>
             Simmi Mourya<msup>*</msup>, <strong>Sonaal Kant</strong><msup>*</msup>, Pulkit Kumar<msup>*</msup>,  Ritu Gupta , <a href="https://www.iiitd.ac.in/anubha"> Anubha Gupta </a><br>
      
              <em>In submission</em><br>
              <p></p>
              <p>A deep learning framework for classifying immature leukemic blasts and normal cells by fusing  Discrete Cosine Transform (DCT) domain features extracted via CNN with the Optical Density (OD) space features.</p>
            </td>
          </tr>

          <tr onmouseout="deepburst_stop()" onmouseover="deepburst_start()" >
            <td width="25%">
              <div class="one">
              <div class="two" id = 'deepburst_image'><img src='../images/fsl.png' , height="125", width ="175" ></div>
              <!-- <img src='leukonet.png'', height="125", width ="175"> -->
              </div>
              <script type="text/javascript">
              function deepburst_start() {
              document.getElementById('deepburst_image').style.opacity = "1";
              }
              function deepburst_stop() {
              document.getElementById('deepburst_image').style.opacity = "0";
              }
              deepburst_stop()
              </script>
            </td>
            <td valign="top" width="75%">
              <a href="https://arxiv.org/pdf/1912.09476">
              <papertitle> Benchmark for generic product detection: a low data baseline for dense object detection
              </papertitle>
              </a>
              <br>
              <strong>Sonaal Kant</strong><msup>*</msup>, Muktabh Mayank Srivastava<msup>*</msup><br>
      
              <em>Image Analysis and Recognition: 17th International Conference, ICIAR 2020</em><br>
              <p></p>
              <p>Benchmarking object detection methods in a low data regime and showing how augmentation based training can give similar performance in comparison with recent works.</p>
            </td>
          </tr>

          <tr onmouseout="deepburst_stop()" onmouseover="deepburst_start()" >
            <td width="25%">
              <div class="one">
              <div class="two" id = 'deepburst_image'><img src='../images/TB.png' , height="125", width ="175" ></div>
              <!-- <img src='leukonet.png'', height="125", width ="175"> -->
              </div>
              <script type="text/javascript">
              function deepburst_start() {
              document.getElementById('deepburst_image').style.opacity = "1";
              }
              function deepburst_stop() {
              document.getElementById('deepburst_image').style.opacity = "0";
              }
              deepburst_stop()
              </script>
            </td>
            <td valign="top" width="75%">
              <a href="https://arxiv.org/pdf/1801.07080">
              <papertitle> Towards automated tuberculosis detection using deep learning
              </papertitle>
              </a>
              <br>
              <strong>Sonaal Kant</strong><msup>*</msup>, Muktabh Mayank Srivastava<msup>*</msup><br>
      
              <em>IEEE Symposium Series on Computational Intelligence (SSCI), 2018</em><br>
              <p></p>
              <p></p>
            </td>
          </tr>



        </table>

      </td>
    </tr>
  </table>
</body>

</html>

